.header {
    width: 100%;
    padding: 4.5ex 0;
    background-color: $color-green-strong;
    h1 {
      font-family: $font-heading;
      color: $color-text-white;
      font-size: 32pt;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: normal;
    }
}
