.main {
    min-height:300px;
    width:80%;
    position:relative;
    float:right;
    article {
      width:60%;
      float: left;
      padding: 0 2em 2ex 2em;
      h2 {
        padding-top: 1.5ex;
        font-size: 36pt;
        font-weight: 700;
        color: $color-text-black;
        text-align: left;
        letter-spacing: normal;
      }
      h3 {
        color: $color-text-gray2;
        font-size: 18pt;
        font-weight: 600;
        margin:0.1ex 0 2ex 0;
      }
      h4 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(00, 36, 63, 0.4);
        padding: 20px;
        color: $color-text-white;
        margin: 0;
        font-size: 18pt;
        font-weight: 300;
      }
      .image-header {
        margin: 10px 0;
        max-width: 100%;
        height: 180px;
        background-image: url('../../assets/img/wallart.png');
        background-size: cover;
        position: relative;
      }
      .article-text {
        margin: 3.2ex 0;
        font-size: 17pt;
        color: $color-text-gray;
        line-height: 30px;
      }
    }
    aside {
      margin-top: 16ex;
      float:right;
      width:40%;
      img {
        width:80px;
        margin-right:0.5em;
        float:left;
        height:auto;
      }
      .moreinfo {
         margin-left:80px;
         line-height:3.5ex;
         h3 {
           color:$color-text-gray2;
           font-weight:600;
           font-size:18pt;
         }
         p {
           color:$color-text-gray;
           font-size:18pt;
         }
         a {
           color:$color-text-blue;
           font-size:15pt;
         }
      }
  }
}
