.main {
  padding: 0 2em;
  h2 {
    margin: 1.2ex 0;
    color: $color-text-black;
    font-size: 32pt;
    font-weight: 600;
    text-align: center;
    letter-spacing: normal;
  }
  .article-image {
    background: image-url('img/wallart.png') no-repeat;
    width: 400px;
    height: 300px;
  }
  .article-text {
    margin-top: 3ex;
    font-size: 16pt;
    color: $color-text-gray;
  }
}
