.nav {
  background-color: $color-green-middle;
  width: 100%;
  margin: 0 auto;
  padding:0;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  li {

  }
  a {
    font-size: 18pt;
    font-weight: 300;
    text-decoration: none;
    color: $color-text-white;
    display: block;
    width: 100%;
    padding: 0.85em;
    &:hover {
			background: $color-green-strong;
			color: $color-text-white;
		}
  }
}
