.nav {
  ul {
    list-style: none;
  }
  li {

  }
  a {
    text-decoration: none;
    color: $color-text-white;
    background-color: $color-green-middle;
    &:hover {
			background: $color-green-strong;
			color: $color-text-white;
		}
  }

}
