.sidebar {
    color: $color-text-white;
    background-color: $color-green-middle;
    width:20%;
    top:0px;
    left:0px;
    bottom:0px;
    position:absolute;
    box-shadow:         0px 0px 15px #000;
    -webkit-box-shadow: 0px 0px 15px #000;
    -moz-box-shadow:    0px 0px 15px #000;
    h1 {
      background-color: $color-green-strong;
      padding: 1.35ex;
      font-size: 36pt;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: normal;
    }
    footer {
      width: 100%;
      font-size: 12pt;
      font-weight: 300;
      text-align: center;
      position: absolute;
      bottom: 2ex;
    }
    /*

    h1 {
      background-color: $color-green-strong;
      padding: 1.5ex;
      font-size: 28pt;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: normal;
    }
    footer {
      width: 100%;
      font-size: 12pt;
      text-align: center;
      position: absolute;
      bottom: 4ex;
    }*/
}
