@media only screen and (min-width:320px) {
    .sidebar, article h3 {
       display: none;
    }
}
@media only screen and (min-width:480px) {
    .sidebar, article h3 {
       display: none;
    }
}
@media only screen and (min-width:768px) {
    .sidebar, article h3 {
       display: block;
    }
}
@media only screen and (min-width:1024px) {
    .sidebar, article h3 {
       display: block;
    }
    .header {
       display: none;
    }
}
@media only screen and (min-width:1140px) {
    .sidebar, article h3 {
       display: block;
    }
    .header {
       display: none;
    }
}
@media only screen and (min-width:1280px) {
    .sidebar, article h3 {
       display: block;
    }
    .header {
       display: none;
    }
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
