button, .btn {
  background-color: $color-green-light;
  color: $color-text-white;
  font-size: 18pt;
  font-weight: 600;
  width: 100%;
  border: 0;
  padding: 15px;
  @include borderradius(6px);
  @include respond-to('mobile') {
     font-size: 14pt !important;
     @include borderradius(4px);
  }
}
