* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  background: $color-white;
  font-family: $font-body;
  min-height:100%;
  width:100%;
  position:relative;
  display:inline-block;
}
