* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}
body {
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: #444;
}
